.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Helvetica;


}

.container > * {
    color: white;
    background-color: black;

}

.lightGrey {
    background-color: lightgray;
    color: black;
}

.number {
    background-color: darkgray;
}

.operator {
    background-color: orange;
}

.display {
    display: flex;
    width: 400px;
    height: 75px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    justify-content: right;
    align-items: center;
    font-size: 32px;


}

.disp {
    padding: 8px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.inputs > * {
    display: flex;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    margin: 8px;
}

.zero {
    flex-grow: 2;
    max-width: 182px;
}
